@page "/result/{result}"
@inject NavigationManager NavigationManager

<h3>Result</h3>

<p>The result is: @result</p>

@* 返回按钮 *@
<button @onclick="GoBack">Go Back</button>

@code {
    [Parameter]
    public String result { get; set; } = "0";

    @* 返回 *@
    private void GoBack()
    {
        NavigationManager.NavigateTo("/todo");
    }

}