@page "/todo"
<h3>Todo</h3>

@inject NavigationManager NavigationManager
<div>
    <label for="number1">Number 1:</label>
    <input type="number" id="number1" @bind="@number1" />
</div>
<div>
    <label for="number2">Number 2:</label>
    <input type="number" id="number2" @bind="@number2" />
</div>
<div>
    <label for="selectedOperator">Operator:</label>
    <select id="selectedOperator" @bind="@selectedOperator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
</div>
<button class="btn btn-primary" @onclick="Calculate">Calculate</button>
@code {
    private int number1;
    private int number2;
    private string selectedOperator = "+";

    private int result;

    private void Calculate()
    {
        // Perform the calculation based on the selected operator
        switch (selectedOperator)
        {
            case "+":
                result = number1 + number2;
                break;
            case "-":
                result = number1 - number2;
                break;
            case "*":
                result = number1 * number2;
                break;
            case "/":
                result = number1 / number2;
                break;
            default:
                result = 0;
                break;
        }


        @* 显示一个新页面显示结果 *@
        NavigationManager.NavigateTo("/result/" + result.ToString());

    }
}
